body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 10px;
  margin: 20px;
}




/* Left hand div with search buttons and map */
#search-and-map {
	position: absolute;
	left: 1%;
	top: 80px;
	width: 60%;
	height: 90%;
	background-color: rgb(245, 245, 245);
}
/* Right hand div with start, end, reset and algo parameters */
#buttons-infos {
	position: absolute;
	left: 65%;
	top: 80px;
	width: 30%;
	height: 90%;
	background-color: rgb(245, 245, 245);
	overflow-y:auto;
}



/* Left div elements */ 

.form-control {
	margin: 5px 0 5px 0;
}

.search-div {
	width: 90%;
	margin: 20px 0 5px 0;
}

#map {
	position: absolute;
	left: 5%;
	bottom: 20px;
	width: 90%;
	height: 80%;
}

#title-div {
	margin: 1% 0 1% 1%;
}



/* Right hand container */

.btn, #user-inputs {
	width: 80%;
	margin: 5px 10% 5px 10%;
}

#start-btn {
	margin-top: 20px;
}


.btn-danger {
	position: absolute;
	bottom: 15px;
}
#stat-div {
	display: none;
	padding: 0px 10% 5px 10%;
}

#user-biais {
	font-weight: bold;	
}

#user-walking-speed {
	font-weight: bold;	
}


.ticks {
  display: flex;
  justify-content: space-between;
  
  //We need left & right padding that's half the width of the range thumb, so all ticks align with the center of the thumb
  padding: $unit $unit*2;
}
.tick {
  position: relative;
  display: flex;
  justify-content: center;
  width: 2px;
  background: gray;
  
  //Cap the height of the tick & push text down, so the tick renders as a little line and the text doesn't overlap the line. Also add margin, so the container expands enough that the next element you'll add won't overlap the ticks.
  height: $unit;
  line-height: $unit * 5;
  margin-bottom: $unit*2;
}
